@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

*{
    scrollbar-color: #fff #151019;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white;
    overflow-x: hidden;
}
.top{
    position: absolute;
    margin-top: -8%;
    margin-left: 32.5%;
}   
.top ul{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.top ul a{
    font-size: 120%;
    text-decoration: none;
    color: white;
    
}
.top ul a::before{
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    width: 0;
    color: midnightblue;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    transition: width 275ms ease;
}
.top ul a:hover::before{
    width: 100%;
}
nav{
    position: absolute;
    margin-left: 85%;
    margin-top: -9%;
}
#text{
    margin-left: 12%; 
    font-size: 2.4rem;
    font-family: Courier;
    font-weight: normal;
    position: absolute;
}
#greeting{
    margin-left: 25%;
    margin-top: 10%;
    width: 30ch;
    animation: typing 3s steps(6000);  
    white-space: nowrap;
    overflow: hidden;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
@keyframes typing {
    from {
      width: 0
    }   
}
.separator{
    margin-top: 41.9%;
    background-color: #323E52;
    height: 100px;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.separator:hover,
.separator:focus,
.separator:active {
    transform: scale(1.1);
}
.skills{
    background-image: url('./images/skills.png');
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;  
}
.skills h2{
    position: absolute;
    margin-left: 40%;
}
.footer{
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    height: 70px;
    background-color: #323E52;
    display: flex;  
    align-items: center;
    vertical-align: middle;
}
.nav-links{
    flex: 1;
    text-align: left;
    margin-left: -3%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}   
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li a:hover{
    color: #9f9595;
} 
.nav-links ul a{
    margin-left: 70%;
    text-decoration: none;
    color: #fff;
}
